# Project information
site_name: mkdocs-obsidian-support-plugin
site_url: https://ndy2.github.io
edit_uri: blob/main/docs/
site_description: >-
  A MkDocs plugin that supports obsidian to mkdocs convert

#Repository
repo_name: ndy2/mkdocs-obsidian-support-plugin
repo_url: https://github.com/ndy2/mkdocs-obsidian-support-plugin

theme:
  name: 'material'
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - content.action.view
    - navigation.indexes

# Extensions
markdown_extensions:
  # admonition
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink

  # image link
  - md_in_html
  - attr_list

  # content tab
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

  # Caret, Mark & Tilde
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde

  # general
  - toc:
      permalink: true

plugins:
  - glightbox
  - search
  - obsidian-support
  - awesome-pages

extra_css:
  - assets/css/obsidian_tags.css

extra_javascript:
  - https://code.jquery.com/jquery-3.7.1.min.js
  - assets/javascript/obsidian_tags.js
